
/* Single Product Section*/
#proddetails{

    background:#92b4f4;
    display: flex;
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    border-radius:20px;
  }

  
  #proddetails .single-pro-image{
    width: 30%;
    margin-right: 50px;
  
  }
  
  #proddetails .single-pro-image img{
    border-radius: 20px;
    animation-name: moveInLeft;
    animation-duration: 2s;
    transition: ease-in-out;
  
  }
  #proddetails .single-pro-image img:hover{
    transform: scale(1.1);
    transition: all .5s ease-in-out;
  
  }
  
  #proddetails .single-pro-details{
    width: 50%;
    animation-name: moveInRight;
    animation-duration: 2s;
    transition: ease-in;
  
  }
  
  #proddetails .single-pro-details h4{
    padding: 40px 0 20px 0;
  }
  
  #proddetails .single-pro-details h2{
    font-size: 26px;
  }
  
  #proddetails .single-pro-details span{
    line-height: 25px;
  }

  @keyframes moveInLeft {
    0%{
    opacity: 0;
    transform: translateX(-100px);
    }
    80% {
    transform: translateX(10px);
    }
    100% {
    opacity: 1;
    transform: translate(0);
    }
    }

    @keyframes moveInRight {
      0%{
      opacity: 0;
      transform: translateX(100px);
      }
      80% {
      transform: translateX(-10px);
      }
      100% {
      opacity: 1;
      transform: translate(0);
      }
      }

    @keyframes fade-in {
      0% {
          opacity: 50%;
          transform: translateY(-10px);
      }
      100% {
          opacity: 100%;
      }
  }