@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
  color:black;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}


/* Header Section*/
#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #0a369d;
  /* box-shadow: 0 5px 25px rgba(0,0,0,0.6); */
  z-index: 999;
  position: sticky;
  top:0;
  left:0;
}

#logo{
  animation: fadeIn 5s;
}

#header h2{
  color:white;
  animation-name: moveInLeft;
  animation-duration: 2s;
  transition: ease-in;
}



@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes moveInLeft {
  0%{
  opacity: 0;
  transform: translateX(-100px);
  }
  80% {
  transform: translateX(10px);
  }
  100% {
  opacity: 1;
  transform: translate(0);
  }
  }


#navbar{
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
#navbar input{
  display: inline-block;
}

/* Search box */
.form{
  position: relative;
}

.form .fa-search{
  position: absolute;
  top:20px;
  left: 20px;
  color: #9ca3af;

}

.form-input{

  height: 55px;
  width:400px;
  padding-top:5px;
  text-indent: 40px;
  border-radius: 10px;
}

.form-input:focus{

  box-shadow: none;
  border:none;
}


/* Category Section */
#category{
  display: flex;
  align-items: center;
  padding-top:10px;
  padding-bottom:10px;
  background: #cfdee7;
  
}
#category>div{
  padding-left: 10px;
  padding-right:20px;
  cursor: pointer;
}
#category>div>button{
  background-color: #cfdee7;
  font-size: 20px;
  color:black;
  border:none;
}



/* Product Section */
#product1{
  text-align:center;
  background:#4472ca;
}
/* #product1>img{
  visibility: hidden;
} */

#product1 .dropdown-3{
  position:absolute;
  right: 60px;;
  display: none;

}
.dropdown-3 button{
  background-color: #4472ca;
  color:white;
  border:none;
  font-size: 20px;
}



#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top:50px;
}

#product1 .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #28133A;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
  background:#cfdee7;
}



#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
  transform: scale(1.1);
}


#product1 .pro img{
  width:100%;
  border-radius:20px;
}

#product1 .pro .des{
  text-align: start;
  padding: 10px 0;
}


#product1 .pro .des h5{
  padding-top:  7px;
  color: black;
  font-size: 14px;
}


#product1 .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: black;
}

/* Pagination Section */
#pagination{
  background: #92b4f4;
}
#pagination>nav{
  width:100%;
  align-items: center;
  display:inline-block;
  justify-content: center;
  padding-left: 300px;
}
.page-item{
  cursor: pointer;
}




.loader{
	background-color: #4472ca;
	padding: 0;
	margin: 0;
	height: 85vh;
	width:100vw;
	display:flex;
	align-items: center;
	justify-content: center;
}

.loader{
	-webkit-perspective:700px;
	perspective: 700px;
}

.loader>span{
	font-size: 130px;
	font-family: "franklin gothic medium",sans-serif;
	display: inline-block;
	animation:flip 2.6s infinite linear;
	transform-origin:0 70%;
	transform-style:preserve-3d;
	-webkit-transform-style:preserve-3d;
}

@keyframes flip{
	35%{
		transform: rotateX(360deg);
	}
	100%{
		transform: rotatex(360deg);
	}
}


.loader>span:nth-child(even){
	color:white;

}

.loader>span:nth-child(2){
	animation-delay: 0.3s;
}

.loader>span:nth-child(3){
	animation-delay: 0.6s;
}

.loader>span:nth-child(4){
	animation-delay: 0.9s;
}

.loader>span:nth-child(5){
	animation-delay: 1.2s;
}

.loader>span:nth-child(6){
	animation-delay: 1.5s
}

.loader>span:nth-child(7){
	animation-delay: 1.8s
}