
/* Single Product Section*/
#proddetails{

    background:#92b4f4;
    display: flex;
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    border-radius:20px;
  }

  
  #proddetails .single-pro-image{
    width: 30%;
    margin-right: 50px;
  
  }
  
  #proddetails .single-pro-image img{
    border-radius: 20px;
  
  }
  #proddetails .single-pro-image img:hover{
    transform: scale(1.1);
    transition: all .5s ease-in-out;
  
  }
  
  #proddetails .single-pro-details{
    width: 50%;
  
  }
  
  #proddetails .single-pro-details h4{
    padding: 40px 0 20px 0;
  }
  
  #proddetails .single-pro-details h2{
    font-size: 26px;
  }
  
  #proddetails .single-pro-details span{
    line-height: 50px;
  }